.sidebar {
    background-color: var(--clr-light);
    flex-direction: column;
    padding: .5em 2em;
    height: 90vh;
    position: sticky;
    top: 70px;
    overflow-y: scroll;
}
.sidenav li {
    margin-block-end: 1.5em;
}
.settings li {
    margin-block: 1.5em;
}
.active-sidemenu {
    color: var(--clr-accent);
}