.profile-box-section{
    background-color: var(--clr-light);
    margin-bottom: 2em !important;
}
.book-list .single-books{
    margin-bottom: 1em;
}
.general-section{
    text-align: center;
}
.general-section img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 1em auto;
}
.back-wrapper{
    text-align: start;
}