.form-group{
    margin-block: 1em;
}
.form-group label{
    font-weight: 500;
    margin-bottom: .5em;
}
.form-group input{
    background-color: rgba(165, 167, 168, 0.23);
    border: 1px solid var(--clr-neutral);
    padding: .75em;
}
.form-group .text-danger {
    margin: 0;
    text-align: start;
}
.form-group .input-error{
    border-color: var(--clr-danger);
}
.submit-btn{
    width: 100%;
    margin-top: 3em;
}
.form-group select{
    width: 100%;
    padding: 0.75em;
}